body {
background-color: #add8e6;
font-family: Arial, Helvetica, sans-serif;}
.baner {
    width: 300px; 
    }

img:hover {
opacity: 70%;}

table, th, td {
    border-bottom: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    vertical-align:middle;
    padding: 10px;
  }

th {
    font-weight: bolder;
    font-size: larger;
}

tr {
    padding: 30%;
}
td {
    border-top: 1px solid black;
}

#mejorTemporada {
    background-color: #006341;
}

img#img.banner{
    display:block;
    margin:auto;
